<p id="notice"><%= notice %></p>

<h1>Publicacaos</h1>

<table>
  <thead>
    <tr>
      <th>Nomepublicacao</th>
      <th>Categoria</th>
      <th>Arquivobib</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @publicacaos.each do |publicacao| %>
      <tr>
        <td><%= publicacao.nomePublicacao %></td>
        <td><%= publicacao.categoria %></td>
        <td><%= publicacao.arquivoBib %></td>
        <td><%= link_to 'Show', publicacao %></td>
        <td><%= link_to 'Edit', edit_publicacao_path(publicacao) %></td>
        <td><%= link_to 'Destroy', publicacao, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Publicacao', new_publicacao_path %>
