<p id="notice"><%= notice %></p>

<p>
  <strong>Nomepublicacao:</strong>
  <%= @publicacao.nomePublicacao %>
</p>

<p>
  <strong>Categoria:</strong>
  <%= @publicacao.categoria %>
</p>

<p>
  <strong>Arquivobib:</strong>
  <%= @publicacao.arquivoBib %>
</p>

<%= link_to 'Edit', edit_publicacao_path(@publicacao) %> |
<%= link_to 'Back', publicacaos_path %>
