<%= form_with(model: projeto, local: true) do |form| %>
  <% if projeto.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(projeto.errors.count, "error") %> prohibited this projeto from being saved:</h2>

      <ul>
      <% projeto.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :nomeProjeto %>
    <%= form.text_field :nomeProjeto %>
  </div>

  <div class="field">
    <%= form.label :inicio %>
    <%= form.number_field :inicio %>
  </div>

  <div class="field">
    <%= form.label :termino %>
    <%= form.number_field :termino %>
  </div>

  <div class="field">
    <%= form.label :resumo %>
    <%= form.text_area :resumo %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
